.header{
    grid-area: header;
    background-color:#3A5199;

}

.logo{
    width: 80px;
    height: 80px;
    padding: 5px 10px 5px 5px;
    float: right;
}

.h{
    
    color: whitesmoke;
    padding: 15px 10px 10px 80px;
    display: inline-block;
    
}

@media screen and (max-width: 900px) {
    .logo{
        width: 60px;
        height: 60px;
        padding: 10px 5px 10px 10px;
        float: right;
    }

    .h{
    
        color: whitesmoke;
        padding: 10px 10px 10px 20px;
        display: inline-block;
        
    }

    
}