.wrapper{
    padding: 5px;
}

.item{
    padding: 5px;
}

.message{
    padding: 5px 0px 5px 25px;
    border: 1px solid brown;
    border-radius: 3px;

}

.item div{
    padding-left: 5px;
    display: inline-block;
}

.name{
    font-weight: 600;
}